jobrequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="request">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="command" type="xs:string"/>
			<xs:element name="args" type="xs:string"/>

			<xs:element name="datasource">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="xs:string"/>
						<xs:element name="path" type="xs:string"/>
						<xs:element name="login" type="xs:string"/>
						<xs:element name="password" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="from" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>