jobResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="jobResult">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="command" type="xs:string"/>
			<xs:element name="execTime" type="xs:string"/>
			<xs:element name="result" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>